    DocumentRoot "/var/www/html/"

    ScriptAlias /registry {{ registry_root_dir }}/bin/wrapper-sudo-federation.pl
    ScriptAlias /liste {{ registry_root_dir }}/bin/wrapper-sudo-federation.pl
    Alias /resources {{ registry_root_dir }}/resources
