# IPv4 firewall configuration
# TODO: Further restrict access based on the actual deployment

*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

# Disable forwarding
-P FORWARD DROP
# Allow any outgoing
-P OUTPUT ACCEPT
# Allow all localhost
-A INPUT -i lo -j ACCEPT
# Allow incoming trafic related to existing "connections"
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
# Allow ICMP
-A INPUT -p icmp -j ACCEPT

### Add rules for opening additional ports here:

# Allow TCP connections to port 22 (SSH) from ANYWHERE
-A INPUT -p tcp --dport 22 -m state --state NEW -j ACCEPT

{% if 'publish' in group_names %}
# publish server
-A INPUT -p tcp --dport 443 -m state --state NEW -j ACCEPT
-A INPUT -p tcp --dport 80 -m state --state NEW -j ACCEPT
{% endif %}

{% if 'registry' in group_names %}
# registry server
-A INPUT -p tcp --dport 443 -m state --state NEW -j ACCEPT
-A INPUT -p tcp --dport 80 -m state --state NEW -j ACCEPT
{% endif %}


### End of configuration

# To open a TCP <port> for world:
#-A INPUT -p tcp --dport <port> -m state --state NEW -j ACCEPT

# To open <port> specific port for an <ip address> (range)
# <ip address> can be a single address: 10.0.0.1 or a range: 10.0.0.0/28
# -A INPUT -p tcp --dport <port> -m state --state NEW -s <ip address> -j ACCEPT

# Multiple ports:
# -A INPUT -p tcp -m multiport --dports <port>,<port>,... -m state --state NEW -j ACCEPT

# End of INPUT chain
-P INPUT DROP

COMMIT
# Note: there must be a newline after the COMMIT